@CHARSET "UTF-8";
body{
font-family:Sans-serif;
font-size:12px;
width:1000px;
text-align:center;
margin-left:auto;
margin-right:auto;
}
h1{
font-size:18px;
display:inline; 
}
.red{
color:#FF0000;
}